---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
  --primary-cyan: hsl(158, 36%, 37%);
  --primary-cream: hsl(30, 38%, 92%);

  --neutral-dark-blue: hsl(212, 21%, 14%);
  --neutral-grayish-blue: hsl(228, 12%, 48%);
  --neutral-white: hsl(0, 0%, 100%);
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Fraunces';
  src: url('/fonts/Fraunces/Fraunces_72pt_SuperSoft-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: var(--primary-cream);
  color: var(--neutral-dark-blue);
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  height: 100vh;
}

</style>
