<x-dialog>
  <article class="dialog" slot="content">
    <header class="dialog__img-container">
      <img src="/images/illustration-thank-you.svg" alt="thank you <3" class="dialog__img" />
    </header>

    <div class="dialog__result-container">
      <p class="dialog__result">You selected <span id="rating-sent">1</span> ouf 5</p>
    </div>

    <section class="dialog__content-container">
      <header class="dialog__title-container">
        <h1 class="dialog__title">Thank you!</h1>
      </header>
      <div class="dialog__content-container">
        <p class="dialog__content">
          We appreciate you taking the time to give a rating. If you ever need more support, don't hesitate to get in touch!
        </p>
      </div>
    </section>
  </article>
</x-dialog>